html,
body {
  width: 100%;
}
body {
  font-family: "Roboto Mono", monospace;
}
#container{
  text-align: center;
}
h3 {
  text-align: center;
  height: 35px;
  background: linear-gradient(125deg, #FFFFFF 0%, #000000 100%), linear-gradient(200deg, #FFD9E8 0%, #FFD9E8 50%, #DE95BA calc(50% + 1px), #DE95BA 60%, #7F4A88 calc(60% + 1px), #7F4A88 75%, #4A266A calc(75% + 1px), #4A266A 100%), linear-gradient(113deg, #FFD9E8 0%, #FFD9E8 40%, #DE95BA calc(40% + 1px), #DE95BA 50%, #7F4A88 calc(50% + 1px), #7F4A88 70%, #4A266A calc(70% + 1px), #4A266A 100%);
  background-blend-mode: overlay, overlay, normal;
  padding-bottom: 5px;
}
#dropdown{
    width: 500px;
    float: left;
    padding-top: 10px;
}
#DataTable{
  width: 60%;
  margin: 0 auto;
  padding-right: 10%;
  padding-top: 1%;
  float: right;
  height: 1500px;
}
#houseDropdown{
  width: 500px;
  float: left;
  padding-top: 10px;
  display: none;
}
#depDropdown{
  width: 500px;
  float: left;
  padding-top: 10px;
  display: none;
  
}
.addCity{
  display: none;
}
label{
  float: left;
  padding-right: 5px;
  padding-top: 8px;
}
#citylbl{
  display: none;
  padding-right: 20px;
  padding-left: 10px;
  font-size: large;
}
#cityInp{
  display: none;
}
#newCitylbl{
  display: none;
  padding-right: 20px;
  padding-left: 10px;
  font-size: large;
}
#newCityInp{
  display: none;
}
.cityBtn{
  display: none;
  margin-left: 30px;
  float: left;
}
.houselbl{
  display: none;
  padding-right: 20px;
  padding-left: 10px;
  font-size: large;
}
.houseInp{
  display: none;
}
/* #newCitylbl{
  display: none;
  padding-right: 20px;
  padding-left: 10px;
  font-size: large;
}
#newCityInp{
  display: none;
} */
.houseBtn{
  display: none;
  margin-left: 30px;
  float: left;
}
.depBtn{
  display: none;
  margin-left: 30px;
  float: left;
}
#deplbl{
  display: none;
  padding-right: 20px;
  padding-left: 10px;
  font-size: large;
}
#depInp{
  display: none;
}
#newDeplbl{
  display: none;
  padding-right: 20px;
  padding-left: 10px;
  font-size: large;
}
#newDepInp{
  display: none;
}
#empCRUD{
  display: none;
}
#empInput{
  display: none;
}
#prevempNamelbl{
  display: none;
}
#prevempNameInp{
  display: none;
}
#heading{
  display: none;
}